* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.header-box {
    background-image: url("media/background.png");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
} 

.logo-div {
    width: 60%;
    margin-left: 2em;
    margin-top: 2em;
    position: absolute;
} 

.logo-img {
    width: 30%;
    height: 100%;
    max-height: 100px;
    object-fit: cover;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content h1 {
    margin-top: 6em;
    color: #FFD15B;
    text-align: center;
    font-size: 2.2em;
}

#input-group {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    line-height: 3em;
}

.form-control {
    width: 100%;
    max-width: 800px;
    margin-top: 3.2em;
    height: 50px;
    border-radius: 0.5em;
}

.fa-search {
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    color: white;

  }

#btn-secondary {
    width: 2.4em;
    max-height: 2.8em;
    border-radius: 0.3em;
    margin-left: -2.6em;
    background-color: black;
    z-index: 999;
}

.btn {
    margin-top: 0;
    text-align: left;
    
}

.filters {
    /* margin-left: 4.5em; */
    margin-top: 2em;
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8em;
}

#selectors {
    margin-left: 6em;
    margin-top: 0.2em;
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}

.form-control {
    margin-top: 1em;
}

.input-upper-part {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.fa-magnifying-glass {
    margin-left: -1.8em;
    color: lightgray;
}

.fa-x {
    margin-left: -2.7em;
    color: lightgray; 
}

#x-icon-ingredient {
    visibility: hidden; 
}

#x-icon-appliance {
    visibility: hidden; 
}

#x-icon-ustensil {
    visibility: hidden; 
}

.button-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 7em;
}

.min-width-btn {
    min-width: 160px;
}

.mt-n1 {
    margin-top: -5px !important;
  }

#ingredient-arr-up {
    display: none;
}

#ingredient-arr-down {
    display: inline;
}
.fa-angle-down {
    margin-left: 4em;
    color: #9b9da1;
} 

.fa-angle-up {
    margin-left: 4em;
    color: #9b9da1;
} 

.card-img-top {
    object-fit: cover;
    width: 100%;
    max-width: 20em;
    height: 20em;
}

.container {
    display: flex;
    justify-content: center;
}

.cuttoff-text {
    --max-lines: 4; 
    overflow: hidden;
     
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
  }

  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

#recipe-count {
    font-size: 18px;
    font-weight: bolder;
    line-height: 1em;
}

.dropdowns {
    margin-bottom: 10px;
    margin-inline: 10px;
}

#ingredient-filter, #appliance-filter, #ustensil-filter {
    height:8em;
    overflow-y:auto;
}

#ingredient-filter li:hover, #appliance-filter li:hover, #ustensil-filter li:hover  {
    background-color: #FFD15B;
}

/* On screens that are between 706px and 992px */
@media screen and (min-width:705.98px) and  (max-width: 991.98px) {
    .filters {
        justify-content: space-around;
        margin-left: 0em;
        padding: 0.2em;
        gap: 1.5em;
    }
    #filter-btn {
        padding: 0em;
    }
    #input-group {
        padding-inline: 3em;
    }
    #recipe-count {
        font-size: 14px;
        font-weight: bolder;
        line-height: 0.5em;
    }
}

  /* On screens that are 506px and 706px */
  @media screen and (min-width: 505.98px) and (max-width: 705.98px) {
    .filters {
        justify-content: space-around;
        margin-left: 0em;
        padding: 0.2em;
        gap: 2.5em;
    }
    #filter-btn {
        padding: 0em;
    }
    .fa-angle-down {
        margin-left: 0;
    }
    .fa-angle-up {
        margin-left: 0;
    }
    .drop-menu {
        padding: 0;
    }
    .min-width-btn {
        min-width: 10px;
    }
    .logo-img {
        width: 70%;
        height: 100%;
        max-height: 5em;
        object-fit: cover;
    }
    #input-group {
        width: 100%;
        /* max-width: 21.5em; */
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: baseline;
        line-height: 1em;
    }
    .header-content {
        align-items: flex-start;
    }
    #input-search {
        font-size: 0.8em;
    }
    #input-group {
        padding-left: 6em;
        padding-right: 6.2em;
    }
    #card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col {
        min-width: 280px;
    }
    #recipe-count {
        font-size: 11px;
    }
}

  /* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 505.98px) {
    .filters {
        justify-content: center;
        margin-left: 0em;
        padding: 0.1em;
        gap: 0.5em;
    }
    #selectors {
        margin-left: 0.2em;
        margin-top: 0.2em;
    }
    #filter-btn {
        padding: 0;
    }
    .fa-angle-down {
        margin-left: 0;
    }
    .drop-menu {
        padding: 0;
    }
    .min-width-btn {
        min-width: 10px;
    }
    .logo-img {
        width: 70%;
        height: 100%;
        max-height: 5em;
        object-fit: cover;
    }
    #input-group {
        width: 100%;
        /* max-width: 21.5em; */
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: baseline;
        line-height: 1em;
    }
    .header-content {
        align-items: flex-start;
    }
    #input-search {
        font-size: 0.8em;
    }
    #input-group {
        padding-left: 2em;
        padding-right: 2.2em;
    }
    #card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col {
        min-width: 280px;
    }
    #recipe-count {
        font-size: 8px;
    }
}